<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <settings>
        <setting name="cacheEnabled"              value="true" />  
        <setting name="lazyLoadingEnabled"        value="false" />  
        <setting name="multipleResultSetsEnabled" value="true" />  
        <setting name="useColumnLabel"            value="true" />  
        <setting name="useGeneratedKeys"          value="true" />  
        <setting name="defaultExecutorType"       value="SIMPLE" />  
        <setting name="defaultStatementTimeout"   value="60000" />  
        <setting name="callSettersOnNulls"        value="true" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="cstMap" type="demo.custom.map.CstMap" />
    </typeAliases>

    <typeHandlers>
		<typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.StringTypeHandler" />
        <typeHandler javaType="java.sql.Time"      handler="org.apache.ibatis.type.StringTypeHandler" />
        <typeHandler javaType="java.sql.Date"      handler="org.apache.ibatis.type.StringTypeHandler" />
	</typeHandlers>
</configuration>
