.form{height:500px; border: solid 1px gray; display: inline-block; width: 50%; margin-left: 100px;}
.form .formData{height: 100%; position: relative;}

.form .formData .dataBox:nth-child(n+3){margin-top: 30px;}
.form .formData .dataBox:nth-last-child(2) { margin-bottom: 30px; }
.tree{height:500px; border: solid 1px gray; display: inline-block; width: 40%;}
.menuBox{padding:10px; border:solid 1px gray; display:flex; justify-content: center; align-items: center;}

.rst__rowWrapper .selected-node {outline: solid } 
    